<%- include('../public/partials/header.ejs') %>

  <body>
    <%- include('../public/partials/nav.ejs') %>
      <section id="home2" class="d-flex">
        <div class=" container align-self-center">
          <div class="row">
            <div class="col-md-12">
              <!-- inicio da seção do texto -->

              <!-- indicadores -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-info" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-info" data-slide-to="1"></li>
              </ol>

              <div id="carousel-info" class="carousel slide carousel-fade" data-ride="carousel">
                <div class="carousel-inner">
                  <!--inicio inner -->
                  <div class="carousel-item active">
                    <img src="img/informativo.jpg" class="img-fluid">
                  </div>

                  <div class="carousel-item">
                    <img src="img/banner-nfe-4.0.jpg" class="img-fluid">
                  </div>

                </div> <!-- fim inner -->


                <!-- Controles -->
                <a href="#carousel-info" class="carousel-control-prev" data-slide="prev">
                  <i class="fas fa-angle-left fa-3x"></i>
                </a>

                <a href="#carousel-info" class="carousel-control-next" data-slide="next">
                  <i class="fas fa-angle-right fa-3x"></i>
                </a>

              </div>

            </div>
          </div>
        </div>
      </section> <!-- fim da home-->
      <% var count=0; %>
        <%comunicados.forEach(comunicado=>{%>
          <%if(count%2===0){%>
            <%count++;%>
              <section class="caixa">
                <!-- inicio da seção comunicados-->
                <div class="container">
                  <div class="row">
                    <div class="col-md-6 d-flex">
                      <div class="align-self-center">
                        <h2 class="enfase pt-2 pb-2">
                          <%=comunicado.titulo%>
                        </h2>
                        <h3>
                          <%=comunicado.comunicado%>
                        </h3>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <img src="img/informativo.jpg" class="img-fluid">
                    </div>
                  </div>
                </div>
              </section> <!-- fim da seção comunicados-->
              <%}else{%>
                <%count++;%>
                  <section class="caixa">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-6">
                          <img src="img/informativo.jpg" class="img-fluid">
                        </div>
                        <div class="col-md-6 d-flex">
                          <div class="align-self-center">
                            <h2 class="enfase pt-2 pb-2">
                              <%=comunicado.titulo%>
                            </h2>
                            <h3>
                              <%=comunicado.comunicado%>
                            </h3>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section> <!-- fim da seção comunicados-->
                  <%}})%>
                    <%- include('../public/partials/footer.ejs') %>