<%- include('../public/partials/header.ejs') %>

<body>
    <%- include('../public/partials/nav.ejs') %>
    <div class="container">
        <div id="titulo-pro">
        <hr>
        <h1>Bem vindo ao Forum!</h1>
        <hr>
    </div>
        <! -- Botão que leva ao forum.ejs -->
        <div class="perguntar"> 
            <h4 id="h4r">Informe uma Pergunta/Alteração referente a alguma Informação/Procedimento do site</h4>
            <a href="/forum" class="btn btn-danger" >Perguntar</a>
        </div>
            <br>
            <! --percorrer o arrey do banco (formato que o banco tras os dados) -->
                <%forum_aberto.forEach(forum_aberto=>{%>
                <br>
    
                <! -- card para organizar em quadros (bootstrap) -->
                    <div class="card">
                        <div class="card-body" id="card-pro">
                            <div class="emy" id="displayMoment"><p ><%=forum_aberto.createdAt%></p></div>
                            <! -- tras o titulo da pergunta-->
                                <h4><%=forum_aberto.titulo%></h4>
                                <%if(forum_aberto.idOp != 0){%><p>Referencia de operação = <a href="/operacao/<%=forum_aberto.idOp%>">Nº <%=forum_aberto.idOp%></a></p><%}%>
                                
                                
                        <div class="card-footer">
                            <a href="/forum_aberto/<%=forum_aberto.id%>"><button
                                    class="btn botao">Responder</button></a>
                        </div>
                    </div>
                    <%})%>
    </div>
    <%- include('../public/partials/footer-.ejs') %>