<%- include('../public/partials/header.ejs') %>

<body>
    <%- include('../public/partials/nav.ejs') %>
    <div class="container">
        <div id="titulo-pro">
        <hr>
        <h1>Bem vindo ao Forum!</h1>
        <hr>
    </div>
        <! -- Botão que leva ao forum.ejs -->
        <div class="perguntar"> 
            <h4 id="h4r">Informe uma Pergunta/Alteração referente a alguma Informação/Procedimento do site</h4>
            <a href="/forum" class="btn btn-danger" >Perguntar</a>
        </div>
            <br>
            <! --percorrer o arrey do banco (formato que o banco tras os dados) -->
                <%forum_aberto.forEach(forum_aberto=>{%>
                <br>
    
                <! -- card para organizar em quadros (bootstrap) -->
                    <div class="card">
                        <div class="card-body" id="card-pro">
                            <div class="emy" id="displayMoment"><p ><%=forum_aberto.createdAt%></p></div>
                            <! -- tras o titulo da pergunta-->
                                <h4><%=forum_aberto.titulo%></h4>
                                <%if(forum_aberto.idOp != 0){%><p>Referencia de operação = <a href="/operacao/<%=forum_aberto.idOp%>">Nº <%=forum_aberto.idOp%></a></p><%}%>
                                
                                
                        <div class="card-footer">
                            <a href="/forum_aberto/<%=forum_aberto.id%>"><button
                                    class="btn botao">Responder</button></a>
                        </div>
                    </div>
                    <%})%>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="/js/moment.js"></script>
    </html>