<%- include('../public/partials/header.ejs') %>

<body>
    <div class="container">
    <hr>
    <h1><%=resposta.titulo%></h1>
    <p><%=resposta.descricao%></p>
    <hr>
    <form method="POST" action="/responder">
        <h3>Responda</h3>
        <br>
        <textarea placeholder="Digite sua resposta" class="form-control" name="corpo"></textarea><br>
        <input type="hidden" name="resposta" value="<%=resposta.id%>"> <!--hidden Significa escondido-->
        <button type="submit" class="btn btn-primary">Responder</button>
    </form>
</div>
</body>
<%- include('../public/partials/footer.ejs') %>