<%- include('../../../public/partials/header.ejs')%>

    <%- include('../../../public/partials/nav.ejs')%>
<body>
        <div class="container">
            <br>
            <div class="card">
                <div class="card-header">
                    <h2>Edição de procedimento</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/procedimento/update">
                        <input class="form-control" type="text" name="proc_titulo"
                            placeholder="Denina o titulo de seu comunicado" value="<%=procedimento.proc_titulo%>">
                            <br>
                            <textarea class="form-control" name="proc_descricao" placeholder="Escreva o procedimento aqui"
                            id="article"><%=procedimento.proc_descricao%></textarea>
                            <p>Informe o Nivel desse procedimento abaixo:</p>
                            <select name="nivel" class="form-control">
                                <option value="1">1 - A definir</option>
                                <option value="2">2- A definir</option>
                                <option value="3">3- A definir</option>
                                <option value="4">4- A definir</option>
                                <option value="5">5- A definir</option>
                            </select>
                            <br><br>
                            <input type="hidden" name="id" value="<%=procedimento.id%> ">
                        <button class="btn btn-success">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>

        <%- include('../../../public/partials/footer-.ejs')%>