<%- include('../../../public/partials/header.ejs')%>

    <%- include('../../../public/partials/nav.ejs')%>

        <div class="container">
            <hr>
            <h2>Procedimentos</h2>
            <a href="/admin/procedimentos/new" class='btn btn-success'>Criar novo procedimento</a>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Descrição</th>
                        <th>Nivel</th>
                        <th>slug</th>
                        <th style="text-align: end;">Ações</th>
                    </tr>
                </thead>

                <tbody>
                   <%procedimentos.forEach(procedimento=>{%>
                        <tr>
                            <th>
                                <%=procedimento.id%>
                            </th>
                            <th>
                                <%=procedimento.proc_titulo%>
                            </th>
                            <th>
                                <%=procedimento.proc_descricao%>
                            </th>
                            <th>
                                <%=procedimento.nivel%>
                            </th>
                            <th>
                                <%=procedimento.slug%>
                            </th>
                            <th>
                                <a href="/admin/procedimentos/edit/ <%= procedimento.id %>" class="btn btn-warning">Editar</a>
                            </form>
                            <th>
                                <form action="/procedimento/delete" method="POST" style="display: inline;" onsubmit="confirmarDelecao(event,this)">
                                <input type="hidden" name="id" value="<%=procedimento.id%>">
                                <button class="btn btn-danger">Deletar</button> 
                                </form> 
                            </th>
                                </form>
                        </tr>
                        
                        <%})%>
                </tbody>
            </table>
        </div>

        <%- include('../../../public/partials/footer-.ejs')%>
            <script>
                function confirmarDelecao(event, form) {
                    //Não deixa enviar o formulario
                    event.preventDefault();
                    var decision = confirm("Você quer deletar esse procedimento?")
                    if (decision) {
                        //Manda o formulario -- o This dentro de um evento em tml você esta referenciando o formulrio em sim
                        form.submit()
                    } else {

                    }
                }
            </script>